square{
    height: 300px;
    width: 300px;
    float: left;
}

.img-Leisure{
    height: 500px;
    width: 500px;
    float: left;
    background-image: url(img/CFG19\ Leisure\ .png);
    background-size: 100%;
} 

.square2{
    height: 300px;
    width: 300px;
    float: right;
}

.img-Emergency{
    height: 500px;
    width: 500px;
    float: right;
    background-image: url(img/CFG19\ Emergency\ image.png);
    background-size: 100%;
} 
